node_modules
reset.css
storybook-static

tsconfig.tsbuildinfo

# Coverage
/coverage

# Eslint cache
.eslintcache

# Other modules
/Button
/colors
/emotionCacheProviderFactory
/fonts
/icons
/illustrations
/Loaders
/TextField
/Modal
/Card
/shared
/Table
/typography

# Generated icons stored in src directory 
src/icons/*.tsx

# Generated illustrations stored in src directory (we also generate the story)
src/illustrations/*.tsx
src/illustrations/Illustrations.story.mdx

.awcache

.envrc
