node_modules
reset.css
storybook-static

tsconfig.tsbuildinfo

# Index
/index.*

# Buttons
/Button.*

# Colors
/colors.*

# Fonts
/fonts.*

# Icons
/icons
!/icons/tsconfig.json

# Typography
/typography
