node_modules
reset.css
storybook-static

tsconfig.tsbuildinfo

# Eslint cache
.eslintcache

# Index
/index.*

# Buttons
/Button.*

# Modals
/Modal.*

# Colors
/colors

# Fonts
/fonts.*

# Icons
/icons
!/icons/tsconfig.json

# Table
/Table.*

# Typography
/typography

# Netlify build
.out
