.storybook
stories
icons/src
*.story.*
storybook-static
.eslintignore
renovate.json
.vscode/settings.json
tsconfig.json
build-reset.ts
/icons/*.tsx
/icons/src
/src
**/tsconfig.tsbuildinfo

.awcache

# ESLint stuff
.eslintcache
.eslintrc.js

# Everything else
__mocks__/
.autorc
.circleci/config.yml
.envrc
.gitattributes
.prettierrc.toml
CHANGELOG.md
components-util
coverage
jest.config.js
jest/setup.js
netlify.toml
README.md
rollup.config.js
scripts
tsconfig.build.json
typings
